:root {
    --activeInputBorder: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    --inputError: hsl(0, 100%, 66%);

    --white: hsl(0, 0%, 100%);
    --lightGrayishViolet: hsl(270, 3%, 87%);
    --darkGrayishViolet: hsl(279, 6%, 55%);
    --veryDarkViolet: hsl(278, 68%, 11%);
}

body {
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    position: relative;
}

.color_background {
    position: relative;

    padding: 6em;
}

.card {
    border-radius: .25em;
    color: white;
    margin: 1em;
    width: 286px;
    height: 157px;
    position: absolute;
}

.card span {
    font-size: .6em;
    text-transform: uppercase;
}

.card_back {
    background-image: url(../Images/bg-card-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    left: 3em;
    top: 1em;
}

.card_back span {
    color: white;
    font-size: .5em;
    position: absolute;
    right: 4.5em;
    top: 45%;
}


.card_front {
    background-image: url(../Images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 6em;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card_number{
    bottom: 1.5em;
    font-size: 1.6em;
    justify-self: center;
    letter-spacing: .1em;
    position: absolute;
    text-align: center;
    width: 100%;
}

.name_expire {
    bottom: 1em;
    letter-spacing: .05em;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.name_expire > span:first-of-type {
    margin-left: 2em;
}

.name_expire >span:last-of-type {
    margin-right: 2em;
}

.white_circle {
    background-color: white;
    border-radius: 50%;
    height: 30px;
    position: absolute;
    top: 1em;
    left: 1em;
    width: 30px;
}


.empty_circle {
    border: 1px solid white;
    border-radius: 50%;
    height: 12px;
    position: absolute;
    left: 3.3em;
    top: 1.5em;
    width: 12px;
}


.card_info {
    max-width: 321px;
    z-index: 9999;
}

.form_row {
    margin-bottom: 1em;

}

label {
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

input {
    border: 1px solid var(--lightGrayishViolet);
    border-radius: .5em;
    font-size: 1em;
    height: 2.7em;
    margin-top: .5em;
    padding: 1em;
    width: 100%;
}

input:focus, input:active {
    border: 1px solid red;
}

input::placeholder {
    color: var(--lightGrayishViolet);
    font-size: 1em;
    height: 2.7em;
}

small {
    display: none;
}

.expire {
    display: flex;
    flex-direction: row;
    gap: .5em;
}

.expire > div {
    display: flex;
    flex-direction: column;
}

.dates {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.dates input {
    width: 47%;
}

.CVC {
    width: 50%
}

.CVC input {
    width: 100%;
}

.confirmation {
    display: flex;
    flex-direction: column;
    gap: 1em;
    place-items: center;
    max-width: 321px;
}

.confirmation img {
    width: 80px;
}

.confirmation h1 {
    letter-spacing: .1em;
    text-transform: uppercase;
}

.confirmation p {
    color: var(--darkGrayishViolet);
    margin-bottom: 1.5em;
}


input[type="button"] {
    background-color: var(--veryDarkViolet);
    border: none;
    border-radius: .5em;
    color: white;
    cursor: pointer;
    font-size: .9em;
    letter-spacing: .1em;
    padding-bottom: 1em;
    padding-top: 1em;
    width: 100%
}

/* =========== Desktop Styles ===========
   ====================================== */

@media only screen and (min-width: 1080px) {
    

    .card {
        width: 448px;
        height: 245px;
    }

    .card span {
        font-size: .8em;
    }

    .card_back {
        left: 15em;
        top: 24em;
    }

    .card_front {
        left: 8.5em;
        top: 8.5em;

    }

    .card_number {
        font-size: 2em;
    }

    .name_expire {
        font-size: 1em;
    }

    .white_circle {
        height: 50px;
        left: 2em;
        width: 50px;
        top: 1.5em;
    }

    .empty_circle {
        height: 20px;
        left: 5.75em;
        top: 2.25em;
        width: 20px;
    }

    .confirmation {
        width: 380px;
    }
}